<h1><%= @company.name %></h1>

<p>Identification No: <%= @company.identification_no %></p>
<p>Vat No: <%= @company.vat_no %></p>
<p>Address: <%= @company.address %></p>
<p>Postcode: <%= @company.postcode %></p>
<p>City: <%= @company.city %></p>
<p>Phone: <%= @company.phone %></p>