<nav>
  <%if user_signed_in?%>
    <%= link_to 'EXTREME INVOICING', invoices_path %>
  <%else%>
    <%= link_to 'EXTREME INVOICING', root_path %>
  <%end%>
  <%= link_to 'Create invoice' %>
  <%= link_to 'Sign up' if !user_signed_in?%>
  <%= link_to 'Log in' if !user_signed_in?%>
  <%= link_to 'Log out' if user_signed_in? %>
</nav>